<div align="center">
  <p *ngIf="isEmpty">Nobody has liked this post...</p>
</div>

<ion-list>
  <ion-item *ngFor="let l of likes" (click)="goToProfile(l.id_user)">
    <ion-avatar item-start>
      <img src="https://ionicframework.com/dist/preview-app/www/assets/img/avatar-ts-woody.png">
    </ion-avatar>
    <h2>
      @{{l.username}}
      <span right>{{l.created_at}}</span>
    </h2>
    <ion-avatar item-end>
      <!--<followbutton></followbutton>-->
    </ion-avatar>
  </ion-item>
</ion-list>