<ion-card>

  <ion-item>
    <ion-avatar item-start>
      <img src="https://upload.wikimedia.org/wikipedia/commons/thumb/d/d8/Antu_system-switch-user.svg/2000px-Antu_system-switch-user.svg.png">
    </ion-avatar>
    <h2>{{postData.username}}</h2>
    <p>{{postData.created_at}}</p>
  </ion-item>

  <img src="{{local}}{{postData.post_filename}}" alt="" style="width: 100%">

  <ion-card-content>
    <p>{{postData.caption}}</p>
  </ion-card-content>

  <ion-row>
    <ion-col>
      <button ion-button icon-start clear small (click)="likePost(postData.post_id)">
        <ion-icon name="heart" style="color: white; -webkit-text-stroke: 1px black;" id="like-icon"></ion-icon>
        <div>12 Likes</div>
      </button>
    </ion-col>
    <ion-col>
      <button ion-button icon-start clear small>
        <ion-icon name="text"></ion-icon>
        <div>4 Comments</div>
      </button>
    </ion-col>
    <ion-col center text-center>
      <ion-note>
        11h ago
      </ion-note>
    </ion-col>
  </ion-row>

</ion-card>